body{

	text-align: center;
	background-image: url(fundogif.gif);
}

h1{
	font-family: broadway;
	color: #0000FF;
	font-size: 50px;
}
#segundop{
	font-weight: bolt;
	color: red;
	font-size: 30px;
	background-color: orange
}
#legenda{
	font-size: 12px;	


}
figure{
	border: thin grey solid;
	Width:20%;
}
ul{
	background-color: pink;

}

li{
display: inline;
margin-left:5%;
margin-right:5%;
}

figcaption{

text-align: center;


}
#terceiro{
	font-weight: bolt;
	color: White;
	font-size: 20px;
	background-color: Black
}
#quarto{
	font-weight: bolt;
	color: White;
	font-size: 16px;
	background-color: Black
}
#quinto{
	font-weight: bolt;
	color: Black;
	face="Parchment";
	font-size: 16px;
	background-color: Pink
}
#sexto{
	font-weight: bolt;
	face="Verdana";
	color: Black;
	font-size: 25px;
	background-color: Pink
}
